.demo{
    color:orange;
}
#name{
    color:yellow;

}
#age{
    font-size: 30px;
}
.button{
    color:violet;
    border-radius:5%;
}
.button1{
    font-size:25px;
}
.blue{
    font-family: 'Courier New', Courier, monospace;
}